/*style.css*/



body {
    background-image: url('../assets/background.jpg'); /* Ajuste o caminho da pasta */
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem fica parada enquanto você rola o site */
}

/* Remove margens padrão e define uma fonte bonita*/

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

    /* Estilo do container do menu, presente em todas as páginas */

.menu{
    background-color: white;
    padding: 1rem;
    border: 2px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center; /* para centralizar os links*/
    gap: 20px; /* espaçamento entre os links*/
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
}

/*Efeito de hover no menu */
.menu a:hover {
    color: pink; /* cor de destaque*/
    background-color: #444; /* cor de fundo*/
    border-radius: 4px;

}

/* Footer */

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}

.social-links a{
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s; background-color: 0.3s;
}

.social-links a:hover{
    font-weight: bold;
    color: pink;
    background-color: #444;
    border-radius: 2px;
}

.form{
   background-color: white;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    border-color: black;
}
